.App {
  display: flex;
  flex-direction: column;
}

.img {
  z-index: -1;
  width: 1441px;
  height: 1024px;
}

.start {
  position: absolute;
  width: 800px;
  height: 92px;
  /* left: 0px;
  top: 48px;   */
  left: 233px;
  top: 188px;
  opacity: 0;
}

.lastRecorded {
  position: absolute;
  /* top: 204px;
  left: 195px; */
  top: 290px;
  left: 950px;
  color: #757C89;
  font-family: Montserrat;
  font-size: 12px;
  font-style: italic;
}

.restingHeartRate {
  position: absolute;
  /* top: 300px;
  left: 184px; */
  top: 430px;
  left: 840px;
  color: #757C89;
  font-family: Montserrat;
  font-size: 24px;
  font-weight: 500;
  /* background-color: yellow; border: solid 1px black; */
}

.peakHeartRate {
  position: absolute;
  top: 300px;
  left: 418px;  
  color: #757C89;
  font-family: Montserrat;
  font-size: 24px;
  font-weight: 500;
}

.heartRateVariability {
  position: absolute;
  /* top: 300px;
  left: 655px;   */
  top: 430px;
  left: 989px;
  color: #757C89;
  font-family: Montserrat;
  font-size: 24px;
  font-weight: 500;
}

.stepsCount {
  position: absolute;
  /* top: 375px;
  left: 184px;   */
  top: 480px;
  left: 840px;
  color: #757C89;
  font-family: Montserrat;
  font-size: 24px;
  font-weight: 500;
}

.sleep {
  position: absolute;
  /* top: 375px;
  left: 418px;   */
  top: 480px;
  left: 989px;
  color: #757C89;
  font-family: Montserrat;
  font-size: 24px;
  font-weight: 500;
}

.heightFeet {
  width: 55px;
  height: 24px; 
  position: absolute;
  top: 521px;
  left: 177px;  
  color: #768594;	
  font-family: Montserrat;	
  font-size: 16px;		
  text-align: right;
  padding-top: 4px;
}

.heightInches {
  width: 55px;
  height: 24px;
  position: absolute;
  top: 521px;
  left: 275px;  
  color: #768594;	
  font-family: Montserrat;	
  font-size: 16px;		
  text-align: right;
  padding-top: 4px;
}

.weight {
  width: 55px;
  height: 24px;
  position: absolute;
  top: 579px;
  left: 177px;  
  color: #768594;	
  font-family: Montserrat;	
  font-size: 16px;		
  text-align: right;
  padding-top: 4px;
}

.bmi {
  width: 55px;
  height: 24px;
  position: absolute;
  top: 635px;
  left: 177px;  
  color: #768594;	
  font-family: Montserrat;	
  font-size: 16px;		
  text-align: right;
  padding-top: 4px;
}

.heartRate {
  /* width: 55px;
  height: 24px; */
  width: 60px;
  height: 45px;
  position: absolute;
  /* top: 751px;
  left: 177px;   */
  top: 745px;
  left: 1140px;
  color: #eaebef;
  font-family: Montserrat;
  font-size: 40px;
  text-align: right;
  padding-top: 4px;
  font-weight: 600;
}

.heartRateSource {
  width: 295px;
  height: 25px;
  position: absolute;
  top: 752px;
  left: 281px;  
  color: #757C89;
  font-family: Montserrat;
  font-size: 14px;
  padding-top: 3px;
  padding-right: 30px;
  padding-left: 5px;
}

.sync {
  position: absolute;
  width: 45px;
  height: 40px;
  left: 835px;
  top: 325px; 
  opacity: 0;
  cursor: pointer;
}

@keyframes flash {
  0% {background-color:yellow;}
  60% {background-color: yellow;}  
  100% {background-color: white;}
}

.flash {
  animation: flash 2s;
}

.err {
  position: absolute;
  width: 1180px;
  height: 26px;
  left: 100px;
  top: 1002px;
}