.App {
  display: flex;
  flex-direction: column;
}

.img {
  z-index: -1;
  width: 1438px;
  height: 1023px;
}

.restingHeartRate {
  position: absolute;
  top: 300px;
  left: 184px;
  color: #757C89;
  font-family: Montserrat;
  font-size: 24px;
  font-weight: 500;
  /*background-color: yellow; border: solid 1px black;*/
}

.peakHeartRate {
  position: absolute;
  top: 300px;
  left: 418px;  
  color: #757C89;
  font-family: Montserrat;
  font-size: 24px;
  font-weight: 500;
}

.heartRateVariability {
  position: absolute;
  top: 300px;
  left: 655px;  
  color: #757C89;
  font-family: Montserrat;
  font-size: 24px;
  font-weight: 500;
}

.stepsCount {
  position: absolute;
  top: 375px;
  left: 184px;  
  color: #757C89;
  font-family: Montserrat;
  font-size: 24px;
  font-weight: 500;
}

.sleepHours {
  position: absolute;
  top: 375px;
  left: 418px;  
  color: #757C89;
  font-family: Montserrat;
  font-size: 24px;
  font-weight: 500;
}

.lastRecorded {
  position: absolute;
  top: 460px;
  left: 760px;
  color: #757C89;
  font-family: Montserrat;
  font-size: 12px;
  font-style: italic; 
}

.heightFeet {
  width: 45px; 
  position: absolute;
  top: 528px;
  left: 177px;  
  color: #768594;	
  font-family: Montserrat;	
  font-size: 16px;		
  text-align: right;
  line-height: 16px;
}

.heightInches {
  width: 45px;
  position: absolute;
  top: 528px;
  left: 275px;  
  color: #768594;	
  font-family: Montserrat;	
  font-size: 16px;		
  text-align: right;
  line-height: 16px;
}

.weight {
  width: 45px;
  position: absolute;
  top: 586px;
  left: 177px;  
  color: #768594;	
  font-family: Montserrat;	
  font-size: 16px;		
  text-align: right;
  line-height: 16px;
}

.bmi {
  width: 45px;
  position: absolute;
  top: 644px;
  left: 177px;  
  color: #768594;	
  font-family: Montserrat;	
  font-size: 16px;		
  text-align: right;
  line-height: 16px;
}

.heartRate {
  width: 45px;
  position: absolute;
  top: 758px;
  left: 177px;  
  color: #757C89;
  font-family: Montserrat;
  font-size: 16px;
  text-align: right;
  line-height: 16px;
}

.heartRateSource {
  position: absolute;
  top: 758px;
  left: 310px;  
  color: #757C89;
  font-family: Montserrat;
  font-size: 16px;
  text-align: right;
  line-height: 16px;
}

.sync {
  position: absolute;
  width: 100px;
  height: 50px;
  top: 370px;
  left: 840px;
  opacity: 0;
  cursor: pointer;
}

@keyframes fade {
  0% {
    background-color:yellow;
  }
  100% {
    background-color: white;
  }
}

.change {
  animation: fade 3s;
}